<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.anindyabhandari.filelocker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QueryFilesActivity" />
        <activity android:name=".getContents" />
        <activity android:name=".SyncMode" />
        <activity android:name=".SyncAgent" />
        <activity android:name=".CheckConflict" />
        <activity android:name=".GetPasswordDialog" />
        <activity android:name=".NewPasswordDialog" />
        <activity android:name=".ProgressAnyway" />
        <activity android:name=".CreateFile" />
        <activity android:name=".CredRetrieval" />
        <activity android:name=".DisplayFile" />
        <activity android:name=".UpdateFile" />
        <activity android:name=".ReadOrCreate" />
        <activity android:name=".RequestSecretForKeyValue" />
        <activity android:name=".ShowSecretForKey"></activity>
    </application>

</manifest>